body {
	line-height: 130%;
}

img {
	border: none;
}

#metabox {
	/* This box is only for Google :) */
	display: none;
}

#main {
	width: 80%;
	margin: 0 10%;
	text-align: center;
}

h1 {
	text-align: center;
	letter-spacing: 2px;
}

h1 a {
	display: block;
	padding: 1em 0;
	font-size: 200%;
	text-decoration: none;
	color: #000;
	font-family: 'Roboto Slab', serif;
}

.bot-img {
	transition: opacity 150ms;
}

.bot-img.thinking {
	opacity: .9;
}

.dialog-form {
	display: block;
	padding: 1em 0;
	width: 100%;
	float: left;
	clear: both;
}

input[type=text] {
	width: 400px;
	height: 30px;
	font-family: 'Lucida grande', Helvetica, sans-serif;
	font-size: 120%;
	padding: 0 0.5em;
}

input[type=submit], input[type=button] {
	width: 100px;
	height: 38px;
	font-family: 'Lucida grande', Helvetica, sans-serif;
	font-size: 120%;
	cursor: pointer;
}

p {
	font-family: 'Roboto Slab', serif;
	font-size: 120%;
	text-align: left;
	padding: 0 20%;
}

.greyed {
	color: #888;
}

.dialog {
	margin-bottom: 5em;
}

.dialog img {
	padding: .5em;
	max-width: 100%;	
}

.fork-me img {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #eee;
	border-top: 1px #aaa solid;
	opacity: 0.8;
}

footer p {
	text-align: right;
	padding: 0;
	font-size: 80%;
}

footer p a {
	color: black;
	letter-spacing: 2px;
	text-decoration: none;
	margin-right: 1.5em;
}

@media screen and (max-width: 960px) {
	#main {
		width: 100%;
		margin: 0;
	}
	
	.bot-img {
		max-width: 100%;
	}
	
	.fork-me img {
		display: none;
	}
	
	input[type=text] {
		width: 100%;
		box-sizing: border-box;
		margin-bottom: .5em;
	}
	
	h1 a {
		padding-top: .5em;
	}
	
	p {
		padding: 0;
	}
	
	footer {
		display: none;
	}
}