body {
	line-height: 130%;
}

img {
	border: none;
}

section#metabox {
	/* This box is only for Google :) */
	display: none;
}

section#main {
	width: 80%;
	margin: 0 10%;
	text-align: center;
}

section#main h1 {
	text-align: center;
	letter-spacing: 2px;
}

section#main h1 a {
	display: block;
	padding: 1em 0;
	font-size: 200%;
	text-decoration: none;
	color: #000;
	font-family: Georgia, Times, serif;
	text-shadow: 2px 2px 2px #aaa;
}

section#main form {
	display: block;
	padding: 1em 0;
}

section#main form input[type=text] {
	width: 400px;
	height: 30px;
	font-family: 'Lucida grande', Helvetica, sans-serif;
	font-size: 120%;
	padding: 0 0.5em;
}

section#main form input[type=submit], section#main form input[type=button] {
	width: 100px;
	height: 38px;
	font-family: 'Lucida grande', Helvetica, sans-serif;
	font-size: 120%;
}

section#main p {
	font-family: 'Lucida grande', Helvetica, sans-serif;
	font-size: 120%;
	text-align: left;
	padding: 0 20%;
}

section#main span.greyed {
	color: #888;
}

div#dialog {
	margin-bottom: 5em;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #eee;
	border-top: 1px #aaa solid;
	opacity: 0.8;
}

footer p {
	text-align: right;
}

footer p a {
	color: black;
	letter-spacing: 2px;
	text-decoration: none;
	margin-right: 1.5em;
}